body {
margin: 0;
font-family: var(--font-texte);
background: linear-gradient(135deg, rgb(84, 73, 55), rgb(255, 235, 205));  
}

header h1 {
  margin: 0;
  font-size: 2em;
}

h2{
  font-size: 200%;
}

.container {
  padding: 3px;
  max-width: 1200px;
  margin: auto;
  margin-top: 50px;
}

.top-section {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.profile-summary, .device-list {
  background-color: rgb(129, 158, 157);
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgb(129, 158, 157);
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

 td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #2f354d;
}

th {
  padding: 12px;
  text-align: left;
  background-color: rgb(104, 139, 132);
  color: rgb(84, 81, 81);
}

.section {
  margin-bottom: 40px;
}

   h3 {
    margin-top: 0;
    font-size: 1.5em;
  }


footer{
  background-color: black;
}

  @media (max-width: 400px) {
    th {
      padding: 8px;
    }

    .container {
      margin-top: 0px;
    }

  }